In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = pd.read_csv("../raw_data/laps.csv")
df

/var/folders/f9/4fv5w4w54kggnjcsztxt19wm0000gn/T/ipykernel_42647/325030988.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/laps.csv")

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,0 days 00:07:07.988000,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,0 days 00:08:53.241000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,0 days 00:10:26.613000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,0 days 00:11:59.474000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,0 days 00:13:31.658000,NaN,2.0,17.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,0 days 02:24:21.766000,2023-06-04 14:25:21.773,1.0,20.0,False,NaN,False,True,Barcelona,2023
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,0 days 02:25:43.046000,2023-06-04 14:26:43.053,1.0,20.0,False,NaN,False,True,Barcelona,2023
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,0 days 02:27:05.180000,2023-06-04 14:28:05.187,1.0,20.0,False,NaN,False,True,Barcelona,2023
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,0 days 02:28:25.600000,2023-06-04 14:29:25.607,1.0,20.0,False,NaN,False,True,Barcelona,2023
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,0 days 02:29:45.580000,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023

In [48]:
df["RaceProgress"] = 0

In [51]:
# For year in years: 
#   df[df["Year"] == year]
df_2018 = df[df["Year"] == 2018]

In [58]:
# For location in locations: 
#   set(df_2018[location])
races_2018 = set(df_2018["Location"])