In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../raw_data/laps.csv")
df

/var/folders/f9/4fv5w4w54kggnjcsztxt19wm0000gn/T/ipykernel_42647/325030988.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/laps.csv")

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,0 days 00:07:07.988000,NaN,1.0,17.0,False,NaN,False,False,Melbourne,2018
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,0 days 00:08:53.241000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,0 days 00:10:26.613000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,0 days 00:11:59.474000,NaN,1.0,17.0,False,NaN,False,True,Melbourne,2018
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,0 days 00:13:31.658000,NaN,2.0,17.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,0 days 02:24:21.766000,2023-06-04 14:25:21.773,1.0,20.0,False,NaN,False,True,Barcelona,2023
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,0 days 02:25:43.046000,2023-06-04 14:26:43.053,1.0,20.0,False,NaN,False,True,Barcelona,2023
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,0 days 02:27:05.180000,2023-06-04 14:28:05.187,1.0,20.0,False,NaN,False,True,Barcelona,2023
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,0 days 02:28:25.600000,2023-06-04 14:29:25.607,1.0,20.0,False,NaN,False,True,Barcelona,2023
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,0 days 02:29:45.580000,2023-06-04 14:30:45.587,1.0,20.0,False,NaN,False,True,Barcelona,2023

In [64]:
df["TotalLaps"] = 0

In [68]:
df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,0,0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0,0

In [86]:
coucou = df.groupby(by = ["Year", "Location"], as_index=False)["LapNumber"].max().rename(columns={"LapNumber":"TotalLaps"})
coucou["Year_Location"] = coucou["Year"].map(str) + coucou["Location"]
coucou

     Year    Location  TotalLaps   Year_Location
0    2018      Austin       56.0      2018Austin
1    2018        Baku       51.0        2018Baku
2    2018   Barcelona       66.0   2018Barcelona
3    2018    Budapest       70.0    2018Budapest
4    2018  Hockenheim       67.0  2018Hockenheim
..    ...         ...        ...             ...
104  2023      Jeddah       50.0      2023Jeddah
105  2023   Melbourne       58.0   2023Melbourne
106  2023       Miami       57.0       2023Miami
107  2023      Monaco       78.0      2023Monaco
108  2023      Sakhir       57.0      2023Sakhir

[109 rows x 4 columns]

In [82]:
df["Year_Location"] = df["Year"].map(str) + df["Location"]

In [83]:
df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps,Year_Location
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,17.0,False,NaN,False,False,Melbourne,2018,0,0,2018Melbourne
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,17.0,False,NaN,False,True,Melbourne,2018,0,0,2018Melbourne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,20.0,False,NaN,False,True,Barcelona,2023,0,0,2023Barcelona

In [88]:
final_df = df.merge(coucou, on="Year_Location")

In [91]:
final_df.head()

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,FastF1Generated,IsAccurate,Location_x,Year_x,RaceProgress,TotalLaps_x,Year_Location,Year_y,Location_y,TotalLaps_y
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,False,False,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,False,True,Melbourne,2018,0,0,2018Melbourne,2018,Melbourne,58.0

In [92]:
final_df.drop(columns=["TotalLaps_x", "Year_Location", "Year_y", "Location_y"], inplace=True)

In [94]:
final_df["RaceProgress"] = final_df["LapNumber"] / final_df["TotalLaps_y"]

In [95]:
final_df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location_x,Year_x,RaceProgress,TotalLaps_y
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,0.017241,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.034483,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.051724,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.068966,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,0.086207,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.924242,66.0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.939394,66.0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.954545,66.0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.969697,66.0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.984848,66.0

In [96]:
real_final_df = final_df.rename(columns={"Location_x": "Location",
                         "Year_x": "Year",
                         "TotalLaps_y": "TotalLaps"})

In [97]:
real_final_df

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps
0,0,0 days 00:08:53.241000,GAS,10,0 days 00:01:45.060000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,1.0,17.0,False,NaN,False,False,Melbourne,2018,0.017241,58.0
1,1,0 days 00:10:26.613000,GAS,10,0 days 00:01:33.372000,2.0,1.0,NaN,NaN,0 days 00:00:31.357000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.034483,58.0
2,2,0 days 00:11:59.474000,GAS,10,0 days 00:01:32.861000,3.0,1.0,NaN,NaN,0 days 00:00:31.160000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.051724,58.0
3,3,0 days 00:13:31.658000,GAS,10,0 days 00:01:32.184000,4.0,1.0,NaN,NaN,0 days 00:00:30.835000,...,1.0,17.0,False,NaN,False,True,Melbourne,2018,0.068966,58.0
4,4,0 days 00:15:03.990000,GAS,10,0 days 00:01:32.332000,5.0,1.0,NaN,NaN,0 days 00:00:30.716000,...,2.0,17.0,False,NaN,False,True,Melbourne,2018,0.086207,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125754,125754,0 days 02:25:43.046000,SAR,2,0 days 00:01:21.280000,61.0,3.0,NaN,NaN,0 days 00:00:24.354000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.924242,66.0
125755,125755,0 days 02:27:05.180000,SAR,2,0 days 00:01:22.134000,62.0,3.0,NaN,NaN,0 days 00:00:23.675000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.939394,66.0
125756,125756,0 days 02:28:25.600000,SAR,2,0 days 00:01:20.420000,63.0,3.0,NaN,NaN,0 days 00:00:23.634000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.954545,66.0
125757,125757,0 days 02:29:45.580000,SAR,2,0 days 00:01:19.980000,64.0,3.0,NaN,NaN,0 days 00:00:23.602000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.969697,66.0
125758,125758,0 days 02:31:05.834000,SAR,2,0 days 00:01:20.254000,65.0,3.0,NaN,NaN,0 days 00:00:23.633000,...,1.0,20.0,False,NaN,False,True,Barcelona,2023,0.984848,66.0

In [140]:
pit_stops = real_final_df[real_final_df["PitInTime"].notna()]
pit_stops

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps
13,13,0 days 00:29:16.839000,GAS,10,NaN,14.0,1.0,NaN,0 days 00:29:16.873000,0 days 00:00:30.247000,...,1.0,18.0,False,NaN,False,False,Melbourne,2018,0.241379,58.0
37,37,0 days 00:44:00.076000,PER,11,0 days 00:01:48.875000,24.0,1.0,NaN,0 days 00:43:40.427000,0 days 00:00:30.198000,...,2.0,13.0,False,NaN,False,False,Melbourne,2018,0.413793,58.0
97,97,0 days 00:47:19.145000,ALO,14,0 days 00:02:20.530000,26.0,1.0,NaN,0 days 00:46:59.732000,0 days 00:00:42.712000,...,26.0,5.0,False,NaN,False,False,Melbourne,2018,0.448276,58.0
149,149,0 days 00:38:12.772000,LEC,16,0 days 00:01:48.767000,20.0,1.0,NaN,0 days 00:37:53.289000,0 days 00:00:30.205000,...,1.0,16.0,False,NaN,False,False,Melbourne,2018,0.344828,58.0
156,156,0 days 00:50:34.604000,LEC,16,0 days 00:02:19.646000,27.0,2.0,NaN,0 days 00:50:14.593000,0 days 00:00:40.761000,...,64.0,14.0,False,NaN,False,False,Melbourne,2018,0.465517,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125599,125599,0 days 01:53:15.999000,ALB,23,0 days 00:01:26.232000,37.0,2.0,NaN,0 days 01:53:13.252000,0 days 00:00:24.164000,...,1.0,19.0,False,NaN,False,False,Barcelona,2023,0.560606,66.0
125643,125643,0 days 01:24:20.664000,LEC,16,0 days 00:01:26.277000,16.0,1.0,NaN,0 days 01:24:17.861000,0 days 00:00:24.128000,...,1.0,9.0,False,NaN,False,False,Barcelona,2023,0.242424,66.0
125668,125668,0 days 01:58:16.469000,LEC,16,0 days 00:01:23.726000,41.0,2.0,NaN,0 days 01:58:13.699000,0 days 00:00:23.901000,...,1.0,8.0,False,NaN,False,False,Barcelona,2023,0.621212,66.0
125710,125710,0 days 01:25:53.069000,SAR,2,0 days 00:01:26.858000,17.0,1.0,NaN,0 days 01:25:50.297000,0 days 00:00:24.200000,...,1.0,14.0,False,NaN,False,False,Barcelona,2023,0.257576,66.0
125729,125729,0 days 01:51:56.847000,SAR,2,0 days 00:01:24.804000,36.0,2.0,NaN,0 days 01:51:54.097000,0 days 00:00:23.828000,...,1.0,20.0,False,NaN,False,False,Barcelona,2023,0.545455,66.0

In [146]:
early_pit_stops = pit_stops[pit_stops["RaceProgress"] < 0.1]

In [164]:
early_pit_stops["Driver_Location_Year"] = early_pit_stops["Driver"] + early_pit_stops["Location"] + early_pit_stops["Year"].map(str)

/var/folders/f9/4fv5w4w54kggnjcsztxt19wm0000gn/T/ipykernel_42647/1358327901.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  early_pit_stops["Driver_Location_Year"] = early_pit_stops["Driver"] + early_pit_stops["Location"] + early_pit_stops["Year"].map(str)

In [165]:
early_pit_stops

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year,RaceProgress,TotalLaps,Driver_Location_Year
384,384,0 days 00:09:17.983000,HAR,28,0 days 00:02:05.584000,1.0,NaN,0 days 00:00:04.103000,0 days 00:08:55.152000,NaN,...,20.0,False,NaN,False,False,Melbourne,2018,0.017241,58.0,HARMelbourne2018
1111,1111,0 days 00:13:26.908000,LEC,16,0 days 00:02:08.581000,3.0,1.0,NaN,0 days 00:13:25.236000,0 days 00:00:39.210000,...,16.0,False,NaN,False,False,Sakhir,2018,0.052632,57.0,LECSakhir2018
1505,1505,0 days 00:12:17.888000,VER,33,NaN,2.0,1.0,NaN,0 days 00:12:15.165000,0 days 00:00:36.350000,...,19.0,False,NaN,False,False,Sakhir,2018,0.035088,57.0,VERSakhir2018
3104,3104,0 days 00:13:28.016000,PER,11,NaN,2.0,1.0,NaN,0 days 00:13:26.917000,0 days 00:01:15.254000,...,9.0,False,NaN,False,False,Baku,2018,0.039216,51.0,PERBaku2018
3154,3154,0 days 00:10:48.515000,ALO,14,0 days 00:03:18.104000,1.0,NaN,0 days 00:00:04.180000,0 days 00:10:58.372000,NaN,...,16.0,False,NaN,False,False,Baku,2018,0.019608,51.0,ALOBaku2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123088,123088,0 days 01:03:43.955000,PER,11,NaN,1.0,1.0,0 days 00:13:37.361000,0 days 01:03:37.245000,NaN,...,20.0,False,NaN,False,False,Monaco,2023,0.012821,78.0,PERMonaco2023
123751,123751,0 days 01:03:43.382000,ZHO,24,NaN,1.0,1.0,0 days 00:14:41.735000,0 days 01:03:36.589000,NaN,...,19.0,False,NaN,False,False,Monaco,2023,0.012821,78.0,ZHOMonaco2023
123828,123828,0 days 01:03:38.318000,HUL,27,NaN,1.0,1.0,0 days 00:13:32.017000,0 days 01:03:31.449000,NaN,...,14.0,False,NaN,False,False,Monaco,2023,0.012821,78.0,HULMonaco2023
124579,124579,0 days 01:03:44.099000,NOR,4,NaN,1.0,1.0,0 days 00:15:03.373000,0 days 01:03:44.836000,NaN,...,6.0,False,NaN,False,False,Barcelona,2023,0.015152,66.0,NORBarcelona2023
125437,125437,0 days 01:09:21.821000,BOT,77,0 days 00:01:25.549000,5.0,1.0,NaN,0 days 01:09:19.002000,0 days 00:00:23.924000,...,19.0,False,NaN,False,False,Barcelona,2023,0.075758,66.0,BOTBarcelona2023