In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../raw_data/laps.csv')
top_10_df = df[~(df['Position'] >= 10)]
top_10_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_77450/1924955088.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
36,36,0 days 00:42:11.201000,PER,11,0 days 00:01:30.241000,23.0,1.0,NaN,NaN,0 days 00:00:30.104000,...,0 days 00:40:40.960000,NaN,2.0,9.0,False,NaN,False,True,Melbourne,2018
92,92,0 days 00:39:01.872000,ALO,14,0 days 00:01:29.865000,21.0,1.0,NaN,NaN,0 days 00:00:30.151000,...,0 days 00:37:32.007000,NaN,1.0,9.0,False,NaN,False,True,Melbourne,2018
93,93,0 days 00:40:31.498000,ALO,14,0 days 00:01:29.626000,22.0,1.0,NaN,NaN,0 days 00:00:30.021000,...,0 days 00:39:01.872000,NaN,1.0,7.0,False,NaN,False,True,Melbourne,2018
94,94,0 days 00:42:00.301000,ALO,14,0 days 00:01:28.803000,23.0,1.0,NaN,NaN,0 days 00:00:29.590000,...,0 days 00:40:31.498000,NaN,2.0,7.0,False,NaN,False,True,Melbourne,2018
95,95,0 days 00:43:29.478000,ALO,14,0 days 00:01:29.177000,24.0,1.0,NaN,NaN,0 days 00:00:29.929000,...,0 days 00:42:00.301000,NaN,2.0,5.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125664,125664,0 days 01:52:51.508000,LEC,16,0 days 00:01:20.676000,37.0,2.0,NaN,NaN,0 days 00:00:23.902000,...,0 days 01:51:30.832000,2023-06-04 13:52:30.839,1.0,9.0,False,NaN,False,True,Barcelona,2023
125665,125665,0 days 01:54:11.966000,LEC,16,0 days 00:01:20.458000,38.0,2.0,NaN,NaN,0 days 00:00:23.842000,...,0 days 01:52:51.508000,2023-06-04 13:53:51.515,1.0,9.0,False,NaN,False,True,Barcelona,2023
125666,125666,0 days 01:55:32.524000,LEC,16,0 days 00:01:20.558000,39.0,2.0,NaN,NaN,0 days 00:00:23.933000,...,0 days 01:54:11.966000,2023-06-04 13:55:11.973,1.0,8.0,False,NaN,False,True,Barcelona,2023
125667,125667,0 days 01:56:52.743000,LEC,16,0 days 00:01:20.219000,40.0,2.0,NaN,NaN,0 days 00:00:23.821000,...,0 days 01:55:32.524000,2023-06-04 13:56:32.531,1.0,7.0,False,NaN,False,True,Barcelona,2023
125668,125668,0 days 01:58:16.469000,LEC,16,0 days 00:01:23.726000,41.0,2.0,NaN,0 days 01:58:13.699000,0 days 00:00:23.901000,...,0 days 01:56:52.743000,2023-06-04 13:57:52.750,1.0,8.0,False,NaN,False,False,Barcelona,2023

In [3]:
df = pd.read_csv('../raw_data/laps.csv')
top_15_df = df[~(df['Position'] >= 15)]
top_15_df

/var/folders/6b/wyfstlmd3c54c_2bb3_wfjh40000gn/T/ipykernel_77450/2520590101.py:1: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../raw_data/laps.csv')

,Unnamed: 0,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Location,Year
14,14,0 days 00:08:50.522000,PER,11,0 days 00:01:42.341000,1.0,NaN,0 days 00:00:04.103000,NaN,NaN,...,0 days 00:07:07.988000,NaN,1.0,12.0,False,NaN,False,False,Melbourne,2018
15,15,0 days 00:10:23.418000,PER,11,0 days 00:01:32.896000,2.0,1.0,NaN,NaN,0 days 00:00:31.283000,...,0 days 00:08:50.522000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
16,16,0 days 00:11:55.422000,PER,11,0 days 00:01:32.004000,3.0,1.0,NaN,NaN,0 days 00:00:30.911000,...,0 days 00:10:23.418000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
17,17,0 days 00:13:26.794000,PER,11,0 days 00:01:31.372000,4.0,1.0,NaN,NaN,0 days 00:00:30.489000,...,0 days 00:11:55.422000,NaN,1.0,12.0,False,NaN,False,True,Melbourne,2018
18,18,0 days 00:14:57.954000,PER,11,0 days 00:01:31.160000,5.0,1.0,NaN,NaN,0 days 00:00:30.373000,...,0 days 00:13:26.794000,NaN,2.0,12.0,False,NaN,False,True,Melbourne,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125706,125706,0 days 01:20:18.112000,SAR,2,0 days 00:01:21.968000,13.0,1.0,NaN,NaN,0 days 00:00:24.077000,...,0 days 01:18:56.144000,2023-06-04 13:19:56.151,1.0,13.0,False,NaN,False,True,Barcelona,2023
125707,125707,0 days 01:21:40.300000,SAR,2,0 days 00:01:22.188000,14.0,1.0,NaN,NaN,0 days 00:00:24.245000,...,0 days 01:20:18.112000,2023-06-04 13:21:18.119,1.0,12.0,False,NaN,False,True,Barcelona,2023
125708,125708,0 days 01:23:03.298000,SAR,2,0 days 00:01:22.998000,15.0,1.0,NaN,NaN,0 days 00:00:24.345000,...,0 days 01:21:40.300000,2023-06-04 13:22:40.307,1.0,12.0,False,NaN,False,True,Barcelona,2023
125709,125709,0 days 01:24:26.211000,SAR,2,0 days 00:01:22.913000,16.0,1.0,NaN,NaN,0 days 00:00:24.266000,...,0 days 01:23:03.298000,2023-06-04 13:24:03.305,1.0,12.0,False,NaN,False,True,Barcelona,2023
125710,125710,0 days 01:25:53.069000,SAR,2,0 days 00:01:26.858000,17.0,1.0,NaN,0 days 01:25:50.297000,0 days 00:00:24.200000,...,0 days 01:24:26.211000,2023-06-04 13:25:26.218,1.0,14.0,False,NaN,False,False,Barcelona,2023